<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.samvas.Base64ToImage"
    version="0.1.0">
    <name>Base64ToImage</name>
    <description>Base64 to Image in Specific location</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Image</keywords>
    <repo>https://github.com/avinashbhalki/Base64ToImage.git</repo>
    <issue>https://github.com/avinashbhalki/Base64ToImage/issues</issue>

    <!-- <js-module src="www/device.js" name="device">
        <clobbers target="device" />
    </js-module> -->

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Base64ToImage" >
                <param name="android-package" value="com.samvas.Base64ToImage.Base64ToImage"/>
            </feature>
        </config-file>

        <source-file src="src/android/Base64ToImage.java" target-dir="src/com/samvas/Base64ToImage" />
    </platform>
	
	<!-- ios -->
	
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Base64ToImage">
                <param name="ios-package" value="Base64ToImage"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Base64ToImage.h" />
        <source-file src="src/ios/Base64ToImage.m" />
    </platform> 

</plugin>
